* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    gap: 30px;
}

ul {
    list-style: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #1A212F;
}

hr {
    border: none;
    background-color: #EFEFEF;
    height: 1px;
    width: 100%;
    margin-top: 12px;
}

footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 10;
}

.elements-text {
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
}

.text-def p, .text-conf p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #1A212F;
    margin: 0;
}
